<div class="modal" tabindex="-1" role="dialog" id="modal-show-reply">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close js-modal-close" data-dismiss="modal" aria-label="Close"></button>

      <div class="modal-header">
        2019年3月26日 9:20投稿
      </div>

      <div class="modal-inner">
      </div>

    </div>
  </div>
</div>
