<div class="modal" tabindex="-1" role="dialog" id="modal-show-reply">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close js-modal-close" data-dismiss="modal" aria-label="Close"></button>

      <div class="modal-header">
        2019年3月26日 9:20投稿
      </div>

      <div class="modal-inner">

        <% for (var i = 0; i < 5; i++) { %>
          <div class="reply-item">
            <div
              style="background-image: url(<%= profile.man.avatar_path %>)"
              class="avatar -size-small">
            </div>
            <div class="block">
              <div class="header">
                <div class="name"><%= profile.man.name %></div>
                <a href="/pc/messages.html" class="action">チャットを開始する</a>
              </div>
              <div class="balloon -arrow-left">
                はじめまして！じろーです！いまからお話しましょう！
              </div>
              <div class="timestamp">2019年3月29日 12:00</div>
            </div>
          </div>
        <% } %>

      </div>

    </div>
  </div>
</div>
