<div class="modal" tabindex="-1" role="dialog" id="modal-tweet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close js-modal-close" data-dismiss="modal" aria-label="Close"></button>

      <div class="modal-header">
        <div class="title">新しくつぶやく</div>
        <button class="action" type="button">投稿</button>
      </div>

      <div class="modal-inner">
        <form action="">
          <textarea class="form-control" name="" id="" cols="30" rows="16" placeholder="入力してください"></textarea>
        </form>
      </div>

    </div>
  </div>
</div>
