<div class="modal" tabindex="-1" role="dialog" id="modal-create-class">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close js-modal-close" data-dismiss="modal" aria-label="Close"></button>
      つくるよー
    </div>
  </div>
</div>
