<div class="modal" tabindex="-1" role="dialog" id="modal-tweet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close js-modal-close" data-dismiss="modal" aria-label="Close"></button>

      <div class="modal-header">
        新しくつぶやく
      </div>

      <div class="modal-inner">
        <form action="">
        <textarea name="" id="" cols="30" rows="10" placeholder="入力してください"></textarea>
        </form>
      </div>

    </div>
  </div>
</div>
