@charset "utf-8";

@import "../common/sanitize";
@import "../common/variables";
@import "../common/helpers";

// Components
@import "./components/avatar";
@import "./components/badge";
@import "./components/balloon";
@import "./components/base";
@import "./components/button";
@import "./components/form";
@import "./components/modal";

.global-header {
  border-bottom: 1px solid $gray;
  height: $globalHeaderHeight;
  background-color: $bg-white;
  display: flex;
  align-items: center;
  padding: 0 20px;

  // Settings for fixed
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  > .logo {
    margin-right: 20px;
  }

  > .logo > .link {
    display: flex; // fill space
  }

  > .title {
    font-size: 28px;
    color: $gray;
  }
}

.global-content {
  display: flex;

  margin-top: $globalHeaderHeight;
}

.global-side {
  $_gap: 24px;
  $_gutter: 20px;

  width: 280px;
  min-height: calc(100vh - #{$globalHeaderHeight} );
  padding: $_gap $_gutter;
  background-color: $bg-white;
  border-right: 1px solid $gray;
  flex: 0 0 auto;

  > .fixed-contents {
    position: sticky;
    top: $globalHeaderHeight + $_gap; // Prevent deviation when scrolling
    left: 0;
  }

  > .copyright {
    text-align: center;
    display: block;
  }
}

.global-main {
  background-color: $bg-gray;
  flex: 1;

  > .inner {
    max-width: 920px;
  }
}

.my-profile {
  text-align: center;

  > .avatar {
    margin: 0 auto 12px;
    width: 112px;
    height: 112px;
  }

  > .name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
  }

  > .link {
    font-size: 14px;
  }
}

.main-menu {
  $_menuIconSize: 30px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  margin-top: 24px;
  padding: 24px 0;

  > .item {
    margin-bottom: 12px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > .item > .link {
    font-size: 18px;
    position: relative;
    padding: 8px 0 8px $_menuIconSize+16px;
    display: block;

    &:before {
      content: '';
      width: $_menuIconSize;
      height: $_menuIconSize;
      display: block;
      position: absolute;
      left: 0;
    }

    &.-home {
      &:before {
        background-image: url('../images/global/icon-menu-home.svg');
      }
      &.-current {
        &:before {
          background-image: url('../images/global/icon-menu-home-active.svg');
        }
      }
    }

    &.-lessons {
      &:before {
        background-image: url('../images/global/icon-menu-lessons.svg');
      }
      &.-current {
        &:before {
          background-image: url('../images/global/icon-menu-lessons-active.svg');
        }
      }
    }

    &.-messages {
      &:before {
        background-image: url('../images/global/icon-menu-messages.svg');
      }
      &.-current {
        &:before {
          background-image: url('../images/global/icon-menu-messages-active.svg');
        }
      }
    }

    &.-tweets {
      &:before {
        background-image: url('../images/global/icon-menu-tweets.svg');
      }
      &.-current {
        &:before {
          background-image: url('../images/global/icon-menu-tweets-active.svg');
        }
      }
    }

    &.-current {
      color: $pink;
    }
  }

  > .item > .c-badge {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.sub-menu {
  margin: 20px 0;

  > .item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > .item > .link {
    color: $pink;
    font-size: 14px;
  }
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin: 40px;
}

.profile-item {
  width: 160px;
  text-align: center;
  font-size: 14px;
  margin: auto;
  cursor: pointer;

  > .avatar {
    margin: 0 auto 12px;
  }

  > .name {
    font-weight: 700;
  }

  > .age {
    color: $black-lighten;
  }

  > .tweet {
    margin-top: 12px;
    background-color: $bg-white;
    font-size: 10px;
    padding: 8px;
    border-radius: 4px;
    max-height: 48px;
  }
}

.detailed-profile {
  $_space: 20px;
  $_photoSize: 400px;

  background-color: $bg-gray-light;
  display: flex;
  border-radius: inherit;
  overflow: hidden;

  > .photos {
    width: $_photoSize;
    flex: 0 0 auto;
  }

  > .photos > .selected {
    background-color: $bg-gray;
    min-height: $_photoSize;
    position: relative;
  }

  > .photos > .selected > .summary {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $_space;
    width: 100%;
    color: $white;
    background: linear-gradient(to bottom, transparent, $black-light);

    > .name {
      font-weight: 700;
      font-size: 20px;
    }

    > .tweet {
      font-size: 12px;
      line-height: 1.4;
    }

    > .action {
      position: absolute;
      right: $_space;
      top: $_space + 4;
    }
  }

  > .photos > .all {
    padding: $_space 0 $_space $_space;
  }

  > .information {
    padding: $_space;
    width: 100%;
    position: relative;
  }

  > .information > .content {
    background-color: $white;
    padding: 12px;
    border-radius: 8px;
  }

  > .information > .action {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $_space;
    width: 100%;
  }
}

.profile-data {
  overflow: hidden;

  > .block {
    float: left;
    font-size: 12px;
    width: 50%;
    margin-bottom: 4px;

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }
  }

  > .block > .term {
    color: $gray-dark;
    margin-right: 8px;
  }
}

.photos-list {
  $_photoSize: 56px;

  // scrollable
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: $_photoSize;

  > .item {
    display: inline-block;
    width: $_photoSize;
    height: $_photoSize;
    background-color: $bg-gray;
    border-radius: 4px;
    margin-right: 12px;
    overflow: hidden;
    cursor: pointer;

    &.-selected {
      border: 2px solid $pink;
    }
  }
}

// 「…」menu
// @NOTE .ellipsis-menu のDOMの中に、
//       .ellipsis-menu-button と .ellipsis-menu-list を内包させ、隣り合う要素にする。
$_ellipsisMenuButtonSize: 20px;

.ellipsis-menu {
  position: relative;
}

.ellipsis-menu-button {
  &:before {
    $_size: 20px;
    content: '';
    width: $_ellipsisMenuButtonSize;
    height: $_ellipsisMenuButtonSize;
    background-image: url('../images/global/icon-ellipsis.svg');
    background-size: cover;
    display: block;
  }
}

.ellipsis-menu-list {
  border-radius: 4px;
  position: absolute;
  top: $_ellipsisMenuButtonSize + 8;
  right: 0;
  background-color: $bg-gray-light;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .2);
  min-width: 160px;

  display: none;

  > .item {
    font-size: 14px;
  }

  > .item > .link {
    padding: 8px 12px;
    display: block;
  }
}


// =================================================================
// messages
// =================================================================

.messages {
  display: flex;
}

.messages-list {
  width: 240px;
  height: calc(100vh - #{$globalHeaderHeight} );
  border-right: 1px solid $gray;
  background-color: $bg-gray-lighten;
  overflow-y: scroll;
  flex: 0 0 auto;
}

.messages-item {
  $_avatarSize: 40px;

  padding: 16px 12px;
  background-color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: 1px solid $gray;
  }

  &:hover {
    background-color: $bg-gray-lighten;
  }

  &:active {
    background-color: $bg-gray-light;
  }

  &.-active {
    background-color: $bg-gray-light;
  }

  > .avatar {
    width: $_avatarSize;
    height: $_avatarSize;
    flex: 0 0 auto;
  }

  > .block {
    $_space: 12px;
    margin-left: $_space;
    width: calc(100% - #{$_avatarSize} - #{$_space});
  }

  > .block > .meta {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    margin-bottom: 4px;
  }

  > .block > .meta > .time {
    flex: 0 0 auto;
    color: $gray-dark;
  }

  > .block > .content {
    font-size: 12px;
  }
}

$_messagePanelHeaderHeight: 56px;
$_messagePanelFooterHeight: 48px;
$_messagePanelSpace: 24px;

.messages-panel {
  width: 100%;
  min-width: 480px;
  position: relative;
  background-color: $white;
}

.messages-panel-header {
  background-color: $white;
  border-bottom: 1px solid $gray;
  padding: 0 $_messagePanelSpace;
  width: 100%;
  height: $_messagePanelHeaderHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .profile {
    text-align: center;
    line-height: 1.2;
  }

  > .profile > .age {
    font-size: 12px;
    color: $gray-dark;
  }

  > .action {
    font-size: 14px;

    button {
      color: $pink;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.messages-panel-body {
  height: calc(100vh - #{$globalHeaderHeight} - #{$_messagePanelHeaderHeight} - #{$_messagePanelFooterHeight} );
  overflow-y: auto;
}

.messages-panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: $_messagePanelFooterHeight;
  width: 100%;
  border-top: 1px solid $gray;
}

.message-threads {
  overflow: hidden;
  padding: $_messagePanelSpace;
}

.message-threads-item {
  display: flex;
  margin-bottom: $_messagePanelSpace;

  &:last-child {
    margin-bottom: 0;
  }

  > .avatar {
    flex: 0 0 auto;
  }

  > .block {
    margin-left: 12px;
  }

  > .block > .name {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 4px;
  }

  > .block > .balloon {
    margin-left: 8px;
    max-width: 400px;
  }

  // message sent by myself
  &.-myself {
    justify-content: flex-end;

    > .block > .balloon {
      @extend .balloon.-arrow-right;
    }
  }
}

.message-form {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  background-color: $white;

  > .textarea {
    width: 100%;
    margin-right: 8px;
    padding: 8px;
    height: 38px; // WIP

    &:focus {
      outline: 0;
    }
  }

  > .button {
    flex: 0 0 auto;
  }
}

.form-class-row {
  display: flex;

  // クラスの名前
  &.-name {
    max-width: 280px;
  }

  // クラスの日付
  &.-date {
    max-width: 120px;
  }

  // クラスがはじまる時間
  &.-time {
    max-width: 120px;
  }

  // クラスの料金
  &.-tuitionfee {
    max-width: 80px;
  }

  // クラスを作成する
  &.-create {
    max-width: 200px;
    margin: auto;
    text-align: center;
  }
}
