<div class="global-side">
  <div class="fixed-contents">
    <div class="my-profile">
      <div class="avatar">
        <a href="/pc/my.html">
          <img src="../images/global/avatar-men.png" width="100%" height="auto" alt="user_name">
        </a>
      </div>
      <div class="name">じろー</div>
      <a href="/pc/my.html" class="link">プロフィールをチェック</a>
    </div>

    <ul class="main-menu">
      <li class="item">
        <% if (slug === 'home') { %>
          <a href="/pc/" class="link -home -current">ホーム</a>
        <% } else { %>
          <a href="/pc/" class="link -home">ホーム</a>
        <% } %>
      </li>
      <li class="item">
        <% if (slug === 'lessons') { %>
          <a href="/pc/lessons.html" class="link -lessons -current">レッスン</a>
        <% } else { %>
          <a href="/pc/lessons.html" class="link -lessons">レッスン</a>
        <% } %>
      </li>
      <li class="item">
        <% if (slug === 'messages') { %>
          <a href="/pc/messages.html" class="link -messages -current">メッセージ</a>
        <% } else { %>
          <a href="/pc/messages.html" class="link -messages">メッセージ</a>
        <% } %>
      </li>
    </ul>

    <ul class="sub-menu">
      <li class="item">
        <a href="" class="link">
          はじめての方へ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          ヘルプ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          利用規約・プライバシーポリシー
        </a>
      </li>
    </ul>

    <small class="copyright">© 2019 Stuw</small>
  </div>
</div>
