<div class="global-side">
  <div class="fixed-contents">
    <div class="my-profile">

      <% if (VIEW_MODE === 'man') { %>
        <div class="avatar">
          <a href="/pc/my.html">
            <img src="../images/global/avatar-man.jpg" width="100%" height="auto" alt="<%= profile.man.name %>">
          </a>
        </div>
        <div class="name"><%= profile.man.name %></div>
      <% } else if (VIEW_MODE === 'girl') { %>
        <div class="avatar">
          <a href="/pc/my.html">
            <img src="../images/global/avatar-girl.png" width="100%" height="auto" alt="<%= profile.girl.name %>">
          </a>
        </div>
        <div class="name"><%= profile.girl.name %></div>
      <% } %>

      <a href="/pc/my.html" class="link">プロフィールをチェック</a>
    </div>

    <ul class="main-menu">
      <li class="item">
        <% if (slug === 'home') { %>
          <a href="/pc/" class="link -home -current">ホーム</a>
        <% } else { %>
          <a href="/pc/" class="link -home">ホーム</a>
        <% } %>
      </li>
      <li class="item">
        <% if (slug === 'lessons') { %>
          <a href="/pc/lessons.html" class="link -lessons -current">レッスン</a>
        <% } else { %>
          <a href="/pc/lessons.html" class="link -lessons">レッスン</a>
        <% } %>
        <span class="c-badge">9</span>
      </li>
      <li class="item">
        <% if (slug === 'messages') { %>
          <a href="/pc/messages.html" class="link -messages -current">メッセージ</a>
        <% } else { %>
          <a href="/pc/messages.html" class="link -messages">メッセージ</a>
        <% } %>
        <span class="c-badge">9,999</span>
      </li>
      <% if (VIEW_MODE === 'girl') { %>
        <li class="item">
          <% if (slug === 'tweets') { %>
            <a href="/pc/tweets.html" class="link -tweets -current">つぶやき</a>
          <% } else { %>
            <a href="/pc/tweets.html" class="link -tweets">つぶやき</a>
          <% } %>
          <span class="c-badge">999</span>
        </li>
      <% } %>
    </ul>

    <ul class="sub-menu">
      <li class="item">
        <a href="" class="link">
          はじめての方へ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          ヘルプ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          利用規約・プライバシーポリシー
        </a>
      </li>
    </ul>

    <small class="copyright">© 2019 Stuw</small>
  </div>
</div>
