  <div class="global-side">

    <div class="my-profile">
      <div class="avatar"></div>
      <div class="name">じろー</div>
      <a class="link">プロフィールをチェック</a>
    </div>

    <ul class="main-menu">
      <li class="item">
        <a href="/pc/" class="link -home">
          ホーム
        </a>
      </li>
      <li class="item">
        <a href="/pc/lessons" class="link -lessons">
          レッスン
        </a>
      </li>
      <li class="item">
        <a href="/pc/messages.html" class="link -messages">
          メッセージ
        </a>
      </li>
    </ul>

    <ul class="sub-menu">
      <li class="item">
        <a href="" class="link">
          はじめての方へ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          ヘルプ
        </a>
      </li>
      <li class="item">
        <a href="" class="link">
          利用規約・プライバシーポリシー
        </a>
      </li>
    </ul>

    <small class="copyright">© 2019 Stwu</small>
  </div>
