<header class="global-header">
  <h1 class="logo">
    <a class="link" href="/pc">
      <img src="../images/global/logo.svg" width="132" height="auto" alt="<%= SITE_NAME %>">
    </a>
  </h1>
  <h2 class="title"><%= title %></h2>
</header>
