$globalHeaderHeight: 64px;

// text-color, link-color, border-color
$white:           #fff;

$black-lighten:   #555;
$black-light:     #1b1b1b;
$black:           #000;

$gray-lighten:    #f9f9f9;
$gray-light:      #e0e0e0;
$gray:            #ccc;
$gray-dark:       #aaa;

$pink:            #f00e8a;
$blue:            #0000ff;

// background-color
$bg-white:        #fff;

$bg-gray-lighten: #fafafa;
$bg-gray-light:   #f3f3f3;
$bg-gray:         #eaeaea;
$bg-gray-dark:    #eaeaea;

$bg-pink:           $pink;
