// text, link, border
$white:           #fff;

$black-lighten:   #555;
$black-light:     #111;
$black:           #000;

$gray-lighten:    #f9f9f9;
$gray-light:      #e0e0e0;
$gray:            #ccc;
$gray-dark:       #aaa;

$pink:            #f00e8a;

// background-color
$bg-gray-lighter: #fafafa;
$bg-gray-light:   #f3f3f3;
$bg-gray:         #eaeaea;
$bg-gray-dark:    #eaeaea;

// link
$primary-link: $pink;
$secondery-link: $black-light;
