<%
  var title = 'トップ';
  var slug  = 'home';
%>

<% include common/_header %>
<% include common/_global_header %>

<div class="global-content">
  <% include common/_global_side %>

  <div class="global-main">
    <div class="inner">

      <div class="profile-list">
        <% for (var i = 0; i < 30; i++) { %>
          <div class="profile-item">
            <div class="avatar -with-shadow">
              <img src="../images/global/avatar-girl.png" width="100%" height="auto" alt="user-avatar">
            </div>
            <div class="name">しおん</div>
            <div class="age">20才</div>
            <div class="tweet">一言のテキストがここに入ります。２行まで入る。</div>
          </div>
        <% } %>
      </div>

    </div>
  </div>
</div>

<% include common/_footer %>
