<%
  var title = 'トップ';
  var slug  = 'home';
%>

<% include common/_settings %>
<% include common/_header %>
<% include common/_global_header %>

<div class="global-content">
  <% include common/_global_side %>

  <div class="global-main">
    <div class="profile-list">
      <% for (var i = 0; i < 30; i++) { %>
        <div class="profile-item">

          <% if (VIEW_MODE === 'man') { %>
            <div class="avatar -with-shadow">
              <img src="../images/global/avatar-girl.png" width="100%" height="auto" alt="user-avatar">
            </div>
            <div class="name"><%= profile.girl.name %></div>
            <div class="age"><%= profile.girl.age %>才</div>
          <% } else if (VIEW_MODE === 'girl') { %>
            <div class="avatar -with-shadow">
              <img src="../images/global/avatar-man.png" width="100%" height="auto" alt="user-avatar">
            </div>
            <div class="name"><%= profile.man.name %></div>
            <div class="age"><%= profile.man.age %>才</div>
          <% } %>

          <div class="tweet">
            <%# @TODO テキストの出力数を制御する必要あり。_clampの使用は控えたい。 %>
            <span class="_clamp-2">
              一言のテキストがここに入ります。2行まで入る。一言のテキストがここに入ります。
            </span>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

      <div class="profile-detailed">
        <div class="photos">
          <div class="selected">
            <img src="../images/global/man-profile-1.jpg" width="100%" height="auto">
          </div>
          <div class="all">
            <div class="photos-list -scrollable">
                <div class="item -selected">
                  <img src="../images/global/man-profile-1.jpg" width="100%" height="auto">
                </div>
                <div class="item">
                  <img src="../images/global/man-profile-2.jpg" width="100%" height="auto">
                </div>
                <div class="item">
                  <img src="../images/global/man-profile-3.jpg" width="100%" height="auto">
                </div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
              </div>
          </div>
        </div>
        <div class="information">
          <div class="content">
            <div class="profile-data">
              <div class="block">
                <span class="term">身長</span>
                <span class="description">172cm</span>
              </div>
              <div class="block">
                <span class="term">体型</span>
                <span class="description">ふつう</span>
              </div>
              <div class="block">
                <span class="term">血液型</span>
                <span class="description">A型</span>
              </div>
              <div class="block">
                <span class="term">住所</span>
                <span class="description">東京</span>
              </div>
              <div class="block">
                <span class="term">職業</span>
                <span class="description">アルバイト</span>
              </div>
              <div class="block">
                <span class="term">年収</span>
                <span class="description">500万</span>
              </div>
            </div>
          </div>
          <div class="action">
            <button type="button">メッセージを送る</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal-backdrop"></div>

<% include common/_footer %>
