<%
  var title = 'メッセージ';
  var slug  = 'messages';
%>

<% include common/_header %>
<% include common/_global_header %>

<div class="global-content">
  <% include common/_global_side %>

  <div class="global-main">
    <div class="inner">

    </div>
  </div>
</div>

<% include common/_footer %>
