@import "../../common/variables";

.avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;

  &.-with-shadow {
    border: 10px solid $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  }
}
