@import "../../common/variables";

.c-badge {
  border-radius: 12px;
  font-size: 14px;
  padding: 4px 12px;
  color: $white;
  font-weight: 700;
  background-color: $pink;
  line-height: 1;
}

.badge-round {
  $_size: 6px;
  background-color: $pink;
  width: $_size;
  height: $_size;
  border-radius: 50%;
}
